main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* ABOUT PAGE */
.about-row {
  padding: 25px 0;
  text-align: center;
}
.about-icon {
  color: #1b2021;
}

.about-footer-heading {
  text-align: center;
}
.about-a-tag {
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about-heading-card {
  margin-top: 7px;
}

@media only screen and (max-width: 767px) {
  .about-heading {
    text-align: center;
  }
}

.nav-item.dropdown {
  margin-right: 0;
}

.search-form-button-custom {
  margin-left: 5px;
  padding: 8px;
}
.navbar {
  padding: 16px 12px;
}
.navbar-brand {
  margin-right: 3%;
}

@media only screen and (max-width: 767px) {
  .form-control {
    margin: 0 auto;
    text-align: center;
  }
  .search-form-custom {
    font-size: 1.1rem;
  }
  .navbar {
    padding: 0;
    text-align: center;
    font-size: 1.1rem;
  }
  .navbar-brand {
    float: none;
  }
  .search-form-custom {
    text-align: center;
  }
  .dropdown-item {
    text-align: center;
    font-size: 0.9rem;
  }
  .navbar-brand {
    text-align: center;
  }
  .nav-link {
    padding-bottom: 0;
  }
  .search-form-custom {
    width: 100%;
  }
  .search-form-button-custom {
    margin: 0;
    margin-top: 2px;
    width: 100%;
    padding: 5px 95px;
    font-size: 1.1rem;
  }
  .form-control {
    display: inline-block;
    padding: 0 156px;
  }
  ::-webkit-input-placeholder {
    /* Internet Explorer 10-11 */
    text-align: center;
  }
  .card-body {
    text-align: center;
    font-size: larger;
    padding: 10px 20px 0;
  }
  .card-text {
    padding-bottom: 5px;
  }
  .rating .far {
    margin-bottom: 3%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .product-page-section {
    min-width: 350px;
  }

  .product-page-section:nth-child(3) {
    margin: 20px 0 0 50%;
  }
  .search-form-button-custom {
    margin-left: 5px;
    padding: 8px;
  }
}
.selectForm {
  padding: 0.75rem 0.2rem;
  width: 80%;
}
@media only screen and (max-width: 991px) {
  .search-form-custom {
    margin: 10px 0;
  }
  .navbar {
    padding: 10px;
  }
}
@media only screen and (max-width: 590px) {
  .navbar-brand {
    margin-left: 3%;
  }
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
  padding: 10px;
  box-sizing: border-box;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 40px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
